body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    transform: scale(1.3);
    font-family: Arial, sans-serif;
    background-image: url("../imgs/background.jpg");
}

h1 {
    color: #fff;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="file"] {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.2);
}

input[type='file']::-webkit-file-upload-button {
    visibility: hidden;
}

input[type='file']::before {
    content: '选择文件';
    display: inline-block;
    background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
}

input[type='file']:hover::before {
    border-color: black;
}

input[type='file']:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}



input[type="submit"]:hover {
    background-color: #555;
}


/*重置浏览器的默认样式*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*提交文件时显示旋转的圆圈*/
#loading-circle {
    width: 20px;
    height:20px;
    display:none;
    margin-left:5px;
    border-radius: 50%;
    border: 3px solid #333;
    border-top-color: transparent;
    animation: spin 1s linear infinite;
}


@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.button-container {
    display: flex;
    align-items: center;
}

.button-container input[type="submit"] {
    /*flex: 1;*/
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.logo-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.logo-container img {
    width: 45px;
    height: 45px;
    margin-right: 20px;
}